.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

.greeting {
  font-size: 60px;
  color: #006278;
  margin: 20px 0;
}

.description {
  font-size: 18px;
  color: #666;
  max-width: 600px;
  margin: 20px auto;
  text-align: justify;
}

.descriptive-image {
  width: 22%;
  border-radius: 5%;
  max-width: 600px;
  margin: 20px 0;
}

.cta {
  margin-top: 4%;
  margin-bottom: -5%;
  position: relative;
  z-index: 2;
}

.cta-buttonC {
  width: 150px;
  height: 150px;
  background-color: #006278;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 0 0 rgba(230, 0, 0, 0.4);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 28, 169, 0.516);
  }
  30% {
    box-shadow: 0 0 0 20px rgba(230, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 0 40px rgba(230, 0, 0, 0);
  }
  60% {
    box-shadow: 0 0 0 40px rgba(230, 0, 0, 0);
  }
  70% {
    box-shadow: 0 0 0 40px rgba(230, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(29, 42, 160, 0.497);
  }
}

.contact-info-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 40px 0;
  padding: 10px 40px; /* Ajusta el padding según el tamaño del rectángulo */
  background-color: #7272723b; /* Color azul */
  border-radius: 8px; /* Bordes redondeados (opcional) */
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  align-items: flex-start;
}

.contact-detail, .address-detail {
  text-align: center;
  color: rgb(0, 0, 0); /* Color del texto dentro del rectángulo azul */
}

.contact-detail {
  margin-right: auto; /* Ajusta el espacio a la derecha */
}

.address-detail {
  margin-left: 10%; /* Ajusta el espacio a la izquierda */
}

.map-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-top: -10%; /* Ajusta según sea necesario */
  z-index: 1;
  display: flex;
  justify-content: center;
}

.map-image {
  width: 100%;
  height: auto;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 2%;
}

/* Media Queries para diseño responsive */
@media (max-width: 1024px) {
  .greeting {
    font-size: 50px;
  }

  .description {
    font-size: 16px;
  }

  .cta-buttonC {
    width: 130px;
    height: 130px;
    font-size: 14px;
  }

  .descriptive-image {
    width: 30%;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .contact-detail, .address-detail {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .map-container {
    margin-top: 0;
  }

  .map-image {
    clip-path: none; /* Elimina el clip-path en pantallas más pequeñas */
    border-radius: 8px; /* Agrega bordes redondeados (opcional) */
  }
}

@media (max-width: 768px) {
  .greeting {
    font-size: 40px;
  }

  .description {
    font-size: 14px;
  }

  .cta-buttonC {
    width: 120px;
    height: 120px;
    font-size: 12px;
  }

  .descriptive-image {
    width: 40%;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .contact-detail, .address-detail {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .map-container {
    margin-top: 0;
  }

  .map-image {
    clip-path: none; /* Elimina el clip-path en pantallas más pequeñas */
    border-radius: 8px; /* Agrega bordes redondeados (opcional) */
  }
}

@media (max-width: 480px) {
  .greeting {
    font-size: 30px;
  }

  .description {
    font-size: 12px;
  }

  .cta-buttonC {
    width: 100px;
    height: 100px;
    font-size: 10px;
  }

  .descriptive-image {
    width: 60%;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .contact-detail, .address-detail {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .map-container {
    margin-top: 0;
  }

  .map-image {
    clip-path: none; /* Elimina el clip-path en pantallas más pequeñas */
    border-radius: 8px; /* Agrega bordes redondeados (opcional) */
  }
}
