.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 3%;
  border-radius: 1%;
  margin-bottom: 3%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-section {
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.venta-title {
  font-size: 20px;
  color: #333;
  margin: 0;
}

.project-title {
  font-size: 24px;
  color: #006278;
  margin: 10px 0;
}

.description {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

.location-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.location-text {
  color: #006278;
  cursor: pointer;
  text-decoration: underline;
}

.right-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.building-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-card {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-title {
  text-align: center;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
}

.info-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.info-card {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-overlay {
  background: rgba(206, 206, 206, 0.876); /* Fondo blanco opaco */
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info-section {
  text-align: center;
  flex: 1;
  margin: 10px 0;
}

.info-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #006278;
}

@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
  }

  .left-section, .right-section {
    width: 50%;
  }

  .right-section {
    padding-left: 20px;
  }

  .info-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .info-section {
    margin: 0 10px;
  }
}
