/* Container Styles */
.container {
  text-align: center;
  margin-top: 2%;
  padding: 50px 20px;
  background-color: #ffffff;
  color: white;
  animation: fadeIn 1s ease-in-out;
  min-height: 100vh;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Title Styles */
.title {
  font-size: 2.5em;
  margin-bottom: 1%;
  color: #006278;
  position: relative;
  display: inline-block;
}

.title::after {
  content: '';
  width: 60px;
  height: 4px;
  background-color: #006278;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

/* Service Container Styles */
.service-container {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  gap: 30px;
  margin-left: 25%;
  margin-top: 3%;
  justify-items: center;

}

/* Service Item Styles */
.service-item {
  position: relative;
  padding: 15px;
  color: #006278;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  background: #292e2f;
  border-radius: 10px;
  overflow: hidden;
  width: 180px;
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Icon Styles */
.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.service-item:hover .icon {
  transform: scale(1.1);
}

/* Service Title Styles */
.service-title {
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #ffffff;
}

/* Service Description Styles */
.service-description {
  font-size: 0.8em;
  color: #d4d4d4;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s, max-height 0.3s;
  overflow: hidden;
}

.service-item:hover .service-description {
  opacity: 1;
  max-height: 100px;
}
