/* Container Styles */
.container {
  text-align: center;
  align-items: center;
  padding: 20px;
  margin-left: 3%;
  margin-right: 3%;
}

/* Section Title Styles */
.section-title {
  font-size: 2em;
  margin-top: 40px;
  color: #006278;
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: '';
  width: 60px;
  height: 4px;
  background-color: #006278;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

/* Services and Materials Grid Styles */
.services-grid, .materials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 40px;
  justify-items: center;
  align-items: center;
  max-width: calc(240px * 3 + 40px * 2); /* Ajusta el ancho máximo */
  margin-left: auto;
  margin-right: auto;
}

/* Flip Card Styles */
.flip-card {
  background-color: transparent;
  width: 160px;
  height: 220px;
  perspective: 1000px;
  margin-bottom: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.flip-card-front {
  background-color: #006278;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  background-color: #292e2f;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Icon Styles */
.icon {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 50%;
}

/* Service and Material Title Styles */
.service-title, .material-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #ffffff;
}

/* Service and Material Description Styles */
.service-description, .material-description {
  font-size: 0.9em;
  color: #ffffff;
}

/* Adjust Flip Card Position */
.flip-card-inner {
  transform-origin: center center;
}

.pdf-button-center {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.pdf-button {
  background-color: #006278;
  color: #ffffff;
  padding: 20px 20px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
}

.pdf-button:hover {
  background-color: #00404e;
}

@media screen and (max-width: 1024px) {
  .services-grid, .materials-grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    max-width: calc(240px * 2 + 40px * 2); /* Ajusta el ancho máximo */
    margin-left: auto;
    margin-right: auto;
  }
  
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 1.6em;
  }

  .pdf-button {
    padding: 15px 15px;
    font-size: 15px;
  }
}
