.portafolio-container {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 3%;
  }
  
  .proyectos {
    text-align: center;
    max-width: 800px;
    margin: 0 20px;
  }
  
  .briefcase-button-center {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .briefcase-button {
    background-color: #006278;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .briefcase-button:hover {
    background-color: #00404e;
  }
  
  .proyectos h2 {
    font-size: 24px;
    color: #006278;
    margin-bottom: 20px;
  }
  
  .proyectos p {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .proyectos {
      margin: 20px;
    }
  
    .proyectos h2 {
      font-size: 20px;
    }
  
    .proyectos p {
      font-size: 16px;
    }
  
    .briefcase-button {
      font-size: 14px;
    }
  }
  