.portafolio-container,
.proyectos,
.imagenes-container,
.proyecto-imagen {
  position: relative;
}

.portafolio-container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.proyectos {
  text-align: center;
  margin: 3% 15% 3%;
}

.briefcase-button-center {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.briefcase-button {
  background-color: #006278;
  color: #ffffff;
  padding: 20px 20px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
}

.briefcase-button:hover {
  background-color: #00404e;
}

.proyectos h2 {
  font-size: 25px;
  color: #006278;
  margin-bottom: 3%;
}

.proyectos p {
  font-size: 20px;
  line-height: 1.5;
  color: #555;
  margin-top: 3%;
  margin-bottom: 3%;
}

.imagenes-container {
  margin-top: 3%;
  margin-bottom: 4%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.proyecto-imagen {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: #ffffff;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .proyectos {
    margin: 20px;
  }

  .proyectos h2 {
    font-size: 20px;
  }

  .proyectos p {
    font-size: 16px;
  }

  .briefcase-button {
    font-size: 14px;
  }

  .imagenes-container {
    grid-template-columns: repeat(2, 1fr);
  }

}
