/* Estilos para la sección Sobre Nosotros */

.sobrenosotros {
  animation: fadeIn 1s;
}

.sobrenosotros-info {
  border-radius: 25px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin-top: 2%;
  margin-left: 27%;
  margin-right: 27%;
  margin-bottom: 2%;
  padding: 60px;
}

.sobrenosotros-info h1 {
  margin-top: 0%;
  font-size: 2em;
  font-weight: bold;
  color: #006278;
}

.sobrenosotros-info h2 {
  font-size: 2em;
  font-weight: bold;
  color: #006278;
}

.sobrenosotros-info p {
  font-size: 1.1em;
  color: #666;
  text-align: justify;
  line-height: 1.5;
}

/* Estilos para la sección de reportes BIC */

.logo-bic {
  width: 300px;
}

.reporte-bic-buttons {
  margin-top: 4%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.reporte-bic-buttons a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  background-color: #006278;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.reporte-bic-buttons a:hover {
  background-color: #7a7a7a;
}

/* Estilos para la sección de reconocimientos */

.sobrenosotros-reconocimiento {
  text-align: center;
  background-color: #f8f9fa;
  padding: 60px;
}

.sobrenosotros-reconocimiento h2 {
  margin-top: 0;
  font-size: 2em;
  font-weight: bold;
  color: #CDA434;
}

.reconocimiento-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #333;
  display: flex;
  margin: 4em 15% 0%;
}

.reconocimiento-item {
  flex: 1;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.reconocimiento-item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.reconocimiento-item h1 {
  font-weight: bold;
  color: #006278;
  font-size: 1.4em;
}

.reconocimiento-item p {
  color: #666;
  margin-top: -10px;
  font-size: 1.1em;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .sobre-nosotros-header h1 {
    font-size: 3em;
  }

  .sobre-nosotros-info {
    margin-left: 5%;
    margin-right: 5%;
  }

  .sobre-nosotros-info h2 {
    font-size: 1.8em;
  }

  .reporte-bic {
    margin-top: -7%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .reporte-bic img {
    width: 200px;
  }

  .reporte-bic h2 {
    font-size: 1.8em;
  }

  .reporte-bic p {
    margin-bottom: 10%;
  }
}