/* Estilos para la sección Sobre Nosotros */

.sobre-nosotros-header {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: url(/images/Hombre-soldando.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sobre-nosotros-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.sobre-nosotros-header h1 {
  font-size: 4em;
  color: #fff;
  text-align: center;
  margin: 0;
  z-index: 2;
  position: relative;
  font-weight: bold;
}

.sobre-nosotros-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  background-color: #fff;
  color: #333;
  margin-top: 1.5%;
  margin-left: 28%;
  margin-right: 28%;
}

.sobre-nosotros-info h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
  color: #006278;
}

.sobre-nosotros-info p {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #666;
  text-align: justify;
}

/* Estilos para la sección de reportes BIC */
.reporte-bic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #333;
  margin-top: -1.3%;
  margin-bottom: 2%;
  margin-left: 28%;
  margin-right: 28%;
  padding: 20px;
}

.reporte-bic img {
  width: 300px;
}

.reporte-bic h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
  color: #006278;
  text-align: justify;
}

.reporte-bic p {
  font-size: 1.1em;
  margin-bottom: 5%;
  color: #666;
  text-align: justify;
}

.reporte-bic-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.reporte-bic-buttons a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.reporte-bic-buttons a:hover {
  background-color: #0056b3;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .sobre-nosotros-header h1 {
    font-size: 3em;
  }

  .sobre-nosotros-info {
    margin-left: 5%;
    margin-right: 5%;
  }

  .sobre-nosotros-info h2 {
    font-size: 1.8em;
  }

  .reporte-bic {
    margin-top: -7%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .reporte-bic img {
    width: 200px;
  }

  .reporte-bic h2 {
    font-size: 1.8em;
  }

  .reporte-bic p {
    margin-bottom: 10%;
  }
}